version: 2
jobs:
  build-and-test:
    macos:
      xcode: "14.2.0"
    environment:
      FL_OUTPUT_DIR: output
    steps:
      - checkout
      - run: source $BUNDLER_V
      - run: gem install bundler
      - run:
          name: Bundler Version
          command: bundler -v
      - run:
          name: Fastlane
          command: bundle exec fastlane $FASTLANE_LANE
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan
workflows:
  version: 2
  build-test:
    jobs:
      - build-and-test:
          context: dependencies_env
