version: 2
jobs:
  build-and-test:
    macos:
      xcode: "14.2.0"
    environment:
      FL_OUTPUT_DIR: output
    steps:
      - checkout
      - run:
          name: Bundler Required Version
          command: |
            gem install bundler -v $BUNDLER_V
            bundle install
      - run:
          name: Build and run tests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 14
            SCAN_SCHEME: Come
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan
workflows:
  version: 2
  build-test:
    jobs:
      - build-and-test:
          context: dependencies_env
